.location-city {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-color);
}

.daily {
  padding: 6px 15px 26px 15px;
  color: var(--white-color);
  background: linear-gradient(180deg, #130EFF 0%, rgba(62, 58, 255, 0.390625) 51.81%, rgba(251, 251, 255, 0) 98.49%, rgba(145, 142, 255, 0) 98.5%);
  border: 1px solid #797979;
  border-radius: 7px;

  h4 {
    margin-bottom: 25px;
  }

  h2 {
    margin-bottom: 25px;
  }

  h5 {
    margin-bottom: 35px;
  }
}

.daily-location {
  align-self: self-start;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 35px;
}

.daily-city {
  margin-left: 5px;
}

.img-wrap {
  margin-bottom: 25px;

  img {
    // width: 60px;
    height: 60px;
  }
}


// .big-weatherCode {
//   width: 140px;
//   height: 140px;
// }

.daily-weather {
  // width: 371px;
  // height: 91px;
  padding: 5px 20px;
  // margin: 0 30px 53px;
  font-size: 12px;
  line-height: 15px;
  background: #00C1FE;
  border-radius: 7px;
}

.wrap {
  margin-right: 9px;
}

.daily-img {
  margin-bottom: 10px;
}

.slash {
  width: 64.09px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}
