// .container {
//   width: 493px;
//   height: 274px;
//   margin-left: 78px;
//   margin-top: 94px;
//   background: rgba(250, 255, 19, 0.61);
//   filter: blur(125px);
// }

.text-shadow {
  text-shadow: 0px 5px 5px rgb(0 0 0 / 40%);
  margin-bottom: 24px;
}

.text-dark {
  color: var(--dark-color);
  margin-bottom: 16px;
}

.greeting {
  margin-bottom: 18px;
  font-weight: 700;
}

// .img-greeting {
//   // width: 55px;
//   // height: 50px;
//   margin-right: 9px;
// }
