<div class="container d-flex fw-wrap">
  <section class="section left">
    <app-header [currentLocal]="selectedLocal"></app-header>
    <button (click)="changeUnit()">Change Unit</button>
    <ng-container *ngIf="!loadingWeather; else loading">
      <ng-container *ngIf="receivedWeatherDays?.length; else empty">
        <app-days-slider
          [currentLocal]="selectedLocal"
          [weatherDays]="receivedWeatherDays"
          (onSelect)="setSelectedDay($event)"
        ></app-days-slider>
      </ng-container>
    </ng-container>
  </section>
    <section class="section right">
      <div class="sidebar-header d-flex j-betweene">
        <div class="header-item d-flex j-betweene a-center">
          <img src="/assets/images/location.png" alt="location">
          <div class="input-wraper">
            <input
            class="form-control"
            [formControl]="searchLocation"
            placeholder="Location"
            type="text"
          >
            <ul *ngIf="receivedLocations">
              <li *ngFor="let item of receivedLocations" class="nav-item">
                <a (click)="selectLocation(item)">
                  {{item.localizedName}}, {{item.countryName}}
                </a>
              </li>
            </ul>
          </div>
          <img src="/assets/images/done.png" alt="done">
        </div>
        <div class="header-item d-flex j-betweene a-center">
          <div *ngFor="let item of languages" (click)="changeLanguage(item)">
            <app-button
              buttonClass="btn btn-primary"
              [buttonText]="item"
              [isActive]="isSelectedLanguage(item)">
            </app-button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="selectedDay" >
        <app-sidebar
          [currentLocal]="selectedLocal"
          [currentDay]="selectedDay"
          [currentLocation]="currentLocation"
        >
        </app-sidebar>
      </ng-container>
    </section>
</div>
<ng-template #loading>
  <div>
    Loading...
  </div>
</ng-template>
<ng-template #empty>
  <div>
    No Data...
  </div>
</ng-template>
