<div class="container d-flex fw-wrap">
  <section class="section left">
    <app-header [currentLocal]="selectedLocal"></app-header>
    <button (click)="changeUnit()">Change Unit</button>
    <ng-container *ngIf="!loadingData; else loading">
      <ng-container *ngIf="getWeatherDays?.length; else empty">
        <app-days-slider
          [currentLocal]="selectedLocal"
          [weatherDays]="getWeatherDays"
          (onSelect)="setSelectedDay($event)"
        ></app-days-slider>
      </ng-container>
    </ng-container>
  </section>
  <ng-container *ngIf="!loadingData">
    <section *ngIf="selectedDay" class="section right">
      <div class="sidebar-header d-flex j-betweene">
        <div class="header-item d-flex j-betweene a-center">
          <img src="/assets/images/location.png" alt="location">
          <div class="location-city">Dnipro city, Ukraine</div>
          <img src="/assets/images/done.png" alt="done">
        </div>
        <div class="header-item d-flex j-betweene a-center">
          <div *ngFor="let item of languages" (click)="changeLanguage(item)">
            <app-button
              buttonClass="btn btn-primary"
              [buttonText]="item"
              [isActive]="isSelectedLanguage(item)">
            </app-button>
          </div>
        </div>
      </div>
      <app-sidebar
        [currentLocal]="selectedLocal"
        [currentDay]="selectedDay"></app-sidebar>
    </section>
  </ng-container>
</div>
<ng-template #loading>
  <div>
    Loading...
  </div>
</ng-template>
<ng-template #empty>
  <div>
    No Data...
  </div>
</ng-template>
