.container {
  padding: 22px 25px;
  margin: 0 24px 24px 0;
  gap: 16px;
  background: var(--white-color);
  box-shadow: 2px 2px 4px rgba(64, 82, 251, 0.27);
  border-radius: 20px;

  &.active {
    color: var(--white-color);
    background-color: var(--active-color);
  }
}

.temp {
  line-height: 26px;
}

.weekDay {
  font-size: 16px;
  line-height: 19px;
}
